<template>
  <vs-row vs-justify="center">
   
  </vs-row>
</template>
<script>
  
  export default {
    
      data:() => ({
       
        clients: [],
        

      }),
      methods:{
        createClient: function () {
        
        },
        editItem (item) {
         
        },

        deleteItem (item) {
        
        },
       
        
      },
      computed: {
       
      },
      created(){
       
      }

    }
    </script>
