<template>
  <vs-row vs-justify="center">
    <vs-col type="flex" justify="center" vs-justify="center" vs-align="center" vs-lg="12" vs-xs="12">
      
    </vs-col>
  </vs-row>
</template>

<script>


export default {
    props: {
       
    },
    data:function() { return{
        

        }
    },
    methods:{
        createContent: function () {
          
        },
        redirect: function () {
          
        },
       
        onChange: function (event,folder,field) {
          

        },
       
       
        onError: function (e) {
            //alert('Failed to copy the text to the clipboard')
            console.log(e);
        }
    },
    computed: {
        
        
    },
    created(){
       

    }
};

</script>
